body {
    font-family: 'Poppins', sans-serif !important;
}

.font-ibm {
    font-family: 'IBM Plex Mono', monospace;
}

.searchOn {
    display: block;
}

.ck-editor__editable_inline {
    min-height: 200px;
}
